#body {
  background: #F2F2F2;
}
#banner{
  background-image: url("images/travel-plan.jpg");
  background-size: cover;
  margin: 0px;
}
#banner h1 {
  text-align: center;
  color: white;
  font-size: 80px;
  text-shadow: 4px 4px 8px black;
  padding: 80px;
}
#banner h2 {
  text-align: center;
  color: black;
  font-size: 40px;
  text-shadow: 4px 4px 10px white;
  padding: 100px;
}
.container h1{
  text-align: center;
  margin-top: 30px;
  font-size: 50px;
  text-shadow: 2px 2px 8px gray;
}
.card {
  position: relative;
  margin: 30px;
}
.card-description {
  position: absolute;
  bottom: 30px;
  left: 10px;
  color: black;
  text-shadow: 4px 4px 8px black;
}
.card img{
  opacity: 0.8;
}
.card img:hover {
  opacity: 1;
}
.card-title {
  color: white;
  text-align: left;
}
#footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 30px;
  background: rgb(30, 30, 30);
  color: lightgrey;
}
#footer a {
  justify-content: space-between;
  color: lightgrey;
  font-size: 30px;
}
#footer a:hover {
  color: white;
}
